@font-face {
    font-family: 'KyoboHandwriting2023wsa';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/KyoboHandwriting2023wsa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: KyoboHandwriting2023wsa;
}