
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: MICEGothic;
    font-weight: 400;
}
text {
    font-family: MICEGothic;
    font-weight: 100;
}
button {
    font-family: MICEGothic;
    font-weight: 400;
}
option {
    font-family: MICEGothic;
    font-weight: 400;
}
select {
    font-family: MICEGothic;
    font-weight: 400;
}
textarea {
    font-family: MICEGothic;
    font-weight: 100;
}
input {
    font-family: MICEGothic;
    font-weight: 100;
}
::placeholder {
    font-family: MICEGothic;
    font-weight: 100;
}
